exporter/bin/w64/*.exe
exporter/bin/w64/*.pdb
exporter/bin/w64/*.zip
exporter/bin/linux64/domprom*
exporter/domprom
exporter/*.o
exporter/*.obj
prometheus.yml
alertmanager.yml
certs/*.pem
certs/*.txt
domfwd/domfwd
domfwd/wal_test
domfwd/*.o
domprobe/domprobe
domprobe/*.o
.env
