services:

  grafana:

    image: grafana/grafana-enterprise
    container_name: grafana
    hostname: grafana
    restart: always
    stop_grace_period: 15s

    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:z

    networks:
      grafana_net:

  prometheus:

    image: prom/prometheus
    container_name: prometheus
    hostname: prometheus
    restart: always
    stop_grace_period: 15s

    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:z
      - prometheus-data:/prometheus

    networks:
      grafana_net:

  loki:
    image: grafana/loki:latest
    container_name: loki

    volumes:
      - ./loki-config.yml:/loki-config.yml:z
      - loki-data:/tmp/loki

    ports:
      - "3100:3100"

    command: -config.file=/loki-config.yml

    networks:
      grafana_net:

  nginx:

    image: nginx
    container_name: grafana-nginx
    hostname: grafana-nginx
    restart: always
    stop_grace_period: 15s
    depends_on:
      - grafana
      - prometheus

    ports:
      - 3000:443

    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:z
      - ./certs:/certs:z

    networks:
      grafana_net:

volumes:

  grafana-data:
    external: false

  prometheus-data:
    external: false

  loki-data:
    external: false

networks:

  grafana_net:
    name: grafana_net
    driver: bridge

