global:
  scrape_interval: 60s

scrape_configs:
  - job_name: domino
    static_configs:
      - targets:
          - notes.example.com:9100
        labels:
          pod: notes.example.com
          namespace: domino

      - targets:
          - domino.example.com:9100
        labels:
          pod: domino.example.com
          namespace: domino
