global:
  scrape_interval: 60s

scrape_configs:
  - job_name: domino
    static_configs:
      - targets:
          - notes.example.com:9100
        labels:
          DominoServer: notes.example.com

      - targets:
          - domino.example.com:9100
        labels:
          DominoServer: domino.example.com
